.trading-card{
    display: flex;
    flex-direction: column;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
}

.header-text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .header-title{
        color: #9a9a9a;
        font-size: 16px;
        line-height: 1.4em;
    }

    .header-subtitle{
        font-size: 2em;
        color: #252422;
    }
}

.custom-header-icon {
    font-size: 2.5rem;
}

.sidebar-divider {
    flex-grow: 1;
    border: 0;
    height: 1px;
    background: #ddd;
    width: 100%;
    max-width: 100%;
    margin: 1rem 0rem;
}

.footer-wrapper {
    display: flex;
    gap: 0.75rem;

    .custom-footer-icon{
        display: flex;
        align-items: center;
    }

    .positive {
        color: rgb(0, 183, 70);
    }

    .negative{
        color: rgb(239, 64, 60);
    }

    .footer-value{
        display: flex;
        gap: 0.2rem;
        font-weight: 700;
    }

    .footer-title{
        font-size: 1rem;
        color: #9a9a9a;
    }
}