.select-card-input div{
    display: flex;
    max-height: 42px;
    min-height: unset !important;
    opacity: 1;
    background-color: rgb(249 250 251);
}

.select-card-input div div{
    padding: 10px 32px 10px 10px;
}

.select-card-input div fieldset{
    border-color: rgb(209 213 219) !important;
}

.select-card-input div fieldset:hover{
    border-color: rgb(209 213 219) !important;
}

.select-card-input div fieldset:visited{
    border-width: 2px;
    border-color: rgb(6 182 212 / 1) !important;
}

.MuiOutlinedInput-notchedOutline{
    border-width: 2px;
    border-color: rgb(6 182 212 / 1) !important;
}

.select-card-input div input{
    padding: 0.625rem;
}